.navbar{
    background-color: #3d72c2;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    max-width: 990px;
    height: 50px;
    margin: 20px 0px 40px 0px;
}

.navList {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}
.navListItem {
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 35px;
}
.navListItem:hover{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

.navListItem.active {
    border: 1px dashed white;
    padding: 18px;
}

.navDesc {
    margin: 4px;
}

.navButton{
    margin-top: 10px;
    height: 33px;
    background-color: #79a0da;
    color: #fdede5;
    border-style: hidden;
    border-width: 1px;
    border-color: #f6e7c1;
}

.navSearch {
    height: 50px;
    padding: 5px;
    margin-left: 30px;
    width: 70%;
    border: 2px solid #4b7bc4;
    flex: 3;
}

.navSearchInput {
    width: 100%;
    height: 75%;
    border: none;
    border-radius: 40px;
    padding-left: 18px;
    background-color: #95baf1;
    color: #04219f;
}

::placeholder {
    color: white;
}
.navSrcButton{
    height: 33px;
    background-color: #79a0da;
    color: white;
    border: none;
}