.footer{
    width: 100%;
    max-width: 1024px;
    font-size: 16px;
    background-color: rgb(238, 129, 48);
    margin-left: 150px;
}

.fLists{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.fListElems{
    list-style: none;
    padding: 2px;
}

.listItem{
    margin-bottom: 5px;
    cursor: pointer;
    color: #3152a6;
}