/* SingleWork.css */
.singleWorkContainer {
    background-color: #f7f7f7; /* Set your desired background color */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.loadingText {
    color: #3d72c2; /* Loading text color */
    font-size: 18px;
    font-weight: bold;
}

.workName {
    color: #ee8130;
    font-size: 24px;
    margin: 10px 15px 15px 15px;
}

.workAuthor {
    color: #3d72c2;
    font-size: 18px;
    margin: 10px 0;
}

.workImage {
    max-width: 100%;
    height: auto;
    margin-top: 80px;
}

.workPeriod {
    color: #ee8130;
    font-size: 20px;
    margin: 10px 0;
}

.workDescription {
    color: #333;
    font-size: 16px;
    margin-top: 20px;
    text-align: left;
}
